coverage==5.5
mock==4.0.3
flake8==3.9.1
tox==3.23.0
codecov==2.1.11


# Additional test requirements go here

pytest==6.2.3
pytest-cov==2.11.1
pytest-django==4.2.0
pytest-sugar==0.9.4
django-coverage-plugin==1.8.0
django-test-plus==1.4.0
model-mommy==2.0.0
