coverage==6.3.2
mock==4.0.3
flake8==4.0.1
tox==3.24.5
codecov==2.1.12


# Additional test requirements go here

pytest==7.1.1
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-sugar==0.9.4
django-coverage-plugin==2.0.2
django-test-plus==2.2.0
model-mommy==2.0.0
