coverage==4.5.3
mock==3.0.5
flake8==3.7.7
tox==3.13.1
codecov==2.0.15


# Additional test requirements go here

pytest==5.0.0
pytest-cov==2.7.1
pytest-django==3.4.8
pytest-sugar==0.9.2
django-coverage-plugin==1.6.0
django-test-plus==1.2.0
model-mommy==1.6.0
